.kotak {
	width: 100px;
	height: 100px;
	background-color: #ababab;
	line-height: 90px;
	text-align: center;
	font: arial;
	font-size: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
	transition: all 2s ease;
	-webkit-transition: all 2s ease;
	-moz-transition:all 2s ease;

}

.kotak:hover {
	width: 500px;
	height: 500px;
	background-color: pink;
	line-height: 500px;
	left:600px;
	top: 300px;
	border-radius: 2000px;
	box-shadow: 0 0 500px rgba(0,0,0,1);
	-webkit-transition: all 2s ease;
	-moz-transition:all 2s ease;
	transform: rotate(360deg);
	-webkit-transition: all 2s ease;
	-moz-transition:all 2s ease;
	font-size: 100px;

}