html {

	position: relative;

}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}


.jumbotron img {

	width: 200px;
	border: 5px solid #666;

}


hr {

	width: 250px;
	border-top: 3px solid #9DAF79;

}


section {

	min-height: 600px;

}


.portfolio {

	background-color: #2E3C37;
	color: white;

}

.contact {
	min-height: 800px;

}


footer {

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 30px;
}


footer p {
	color: #aaa;
	font-size: 0.9em;  

}

footer p i {
	color: salmon;
}

#skill {
	margin-bottom: 100px;
}

#zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

#zoom:hover,  
#zoom:active,   
#zoom:focus {

-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:100;
}